
*.DS_Store
24-bit-color.sh

.config/mono
.config/asciinema
.config/configstore
.config/gatsby
.config/WakaTime
.config/coc
.config/configstore
.config/Microsoft\VisualStudio Services
.config/NuGet
.config/stetic
.config/thefuck
.config/gcloud
.config/iterm2
.config/neofetch
.config/nnn
.config/wireshark
.config/xbuild
.config/yarn
.config/wtf
.config/ranger
.config/spotify-tui
.config/musikcube
.config/gh/hosts.yml

.config/karabiner/*
!.config/karabiner/karabiner.json
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/plugin-init-vim
.config/fish/*
!.config/fish/config.fish
.config/tmux/*
!.config/tmux/tmux.conf

.vim/plugged/vim-wakatime
.vim/plugged/wal.vim/
.vim/plugged/

.zsh/.zprezto

.tmux/

.ssh/
.aws/

