[
  {
    "enabled" : false,
    "keyCode" : 49,
    "url" : "\/Clipboard.clipboard",
    "order" : 0,
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "modifierFlags" : 1179648,
    "openSelectedFiles" : true
  },
  {
    "order" : 1,
    "modifierFlags" : 1179914,
    "openSelectedFiles" : true,
    "enabled" : true,
    "keyCode" : 5,
    "openSelectedFolders" : true,
    "hideIfActive" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAALrR8\/ulCtwhkxjcrfH69t87jXACl8eUn9kP43K1xWXoVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAOvghwAAAAAACAAAAAQDAABuxQAAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCEAYEgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAQ0NntAQAACAAAAAAEAABBwhmaUVwV5CQAAAABAQAAMDBFQzA1QkEtRjI0MS00NUMxLTkyOTEtOTU4ODkzRUNFNjUxGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "url" : "\/Applications\/Google Chrome.app"
  },
  {
    "enabled" : true,
    "url" : "\/Applications\/Alacritty.app",
    "openSelectedFolders" : true,
    "hideIfActive" : true,
    "openSelectedFiles" : true,
    "order" : 2,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAD2MfUspHPDpf2y\/UC75Q4mEG3aALueU\/udftxlKfbjmUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABBbGFjcml0dHkuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAkjtqAQAAAAAIAAAABAMAAHWahgEAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcJqc84AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAABDQ2e0BAAAIAAAAAAQAAEHCGZpRXBXkJAAAAAEBAAAwMEVDMDVCQS1GMjQxLTQ1QzEtOTI5MS05NTg4OTNFQ0U2NTEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "modifierFlags" : 1179914,
    "keyCode" : 36
  },
  {
    "order" : 3,
    "keyCode" : 36,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAF2kxkxMLIpltbKEyBXVcRfUOPOnfjXQFDGB4V215JSOTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABOb3Rpb24uYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAD\/Tj0CAAAAAAgAAAAEAwAATvOmAgAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwrwYtwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAENDZ7QEAAAgAAAAABAAAQcIZmlFcFeQkAAAAAQEAADAwRUMwNUJBLUYyNDEtNDVDMS05MjkxLTk1ODg5M0VDRTY1MRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Notion.app",
    "enabled" : true,
    "modifierFlags" : 1310985,
    "hideIfActive" : true,
    "openSelectedFolders" : true
  },
  {
    "url" : "\/Applications\/Slack.app",
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAHlnBATN0Yf6pXW6cWCfjTSFg\/8joX2YjxDPkSPlvy73TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABZewMCAAAAAAgAAAAEAwAA\/1AAAgAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw6x3aAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAII0StQAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADFCRjA0RjE4LTI1RkEtNDYyMy1CNThDLTRBMDM0ODFFMEJEMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "keyCode" : 1,
    "modifierFlags" : 1179914,
    "hideIfActive" : true,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "order" : 4
  },
  {
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAKMlsCD58P9A7YZsKgeb72ya9IAp4iR93cp6DDFvW49QWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABZewMCAAAAAAgAAAAEAwAAskAgAgAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBw7U2OgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAII0StQAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADFCRjA0RjE4LTI1RkEtNDYyMy1CNThDLTRBMDM0ODFFMEJEMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "modifierFlags" : 786721,
    "url" : "\/Applications\/Visual Studio Code.app",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 9,
    "order" : 5,
    "openSelectedFiles" : true
  }
]