[
  {
    "hideIfActive" : false,
    "keyCode" : 49,
    "openSelectedFolders" : true,
    "order" : 0,
    "openSelectedFiles" : true,
    "modifierFlags" : 1179648,
    "url" : "\/Clipboard.clipboard",
    "enabled" : false
  },
  {
    "keyCode" : 5,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAALrR8\/ulCtwhkxjcrfH69t87jXACl8eUn9kP43K1xWXoVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAOvghwAAAAAACAAAAAQDAABuxQAAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCEAYEgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAQ0NntAQAACAAAAAAEAABBwhmaUVwV5CQAAAABAQAAMDBFQzA1QkEtRjI0MS00NUMxLTkyOTEtOTU4ODkzRUNFNjUxGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : true,
    "url" : "\/Applications\/Google Chrome.app",
    "openSelectedFiles" : true,
    "modifierFlags" : 1179914,
    "enabled" : true,
    "order" : 1
  },
  {
    "openSelectedFiles" : true,
    "keyCode" : 36,
    "hideIfActive" : true,
    "enabled" : true,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Alacritty.app",
    "order" : 2,
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAD2MfUspHPDpf2y\/UC75Q4mEG3aALueU\/udftxlKfbjmUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABBbGFjcml0dHkuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAkjtqAQAAAAAIAAAABAMAAHWahgEAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcJqc84AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAABDQ2e0BAAAIAAAAAAQAAEHCGZpRXBXkJAAAAAEBAAAwMEVDMDVCQS1GMjQxLTQ1QzEtOTI5MS05NTg4OTNFQ0U2NTEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA="
  }
]